.box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 630px;
    width: 1220px;
    border: 2px solid black;
}
.box1{
    display: grid;
grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 210px;
    width: 300px;
    border: 2px solid yellow;
    background-color: yellowgreen;
}
.box11{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box12{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box13{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box14{
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box2{
display: grid;
grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 210px;
    width: 300px;
    border: 2px solid yellow;
    background-color: yellowgreen;
}
.box21{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box22{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box23{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box24{
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box3{
       display: grid;
grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 210px;
    width: 300px;
    border: 2px solid yellow;
    background-color: yellowgreen;
}
.box31{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box32{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box33{
    
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box34{
    height: 105px;
    width: 150px;
    border: 1px solid yellow;
    background-color: green;
}
.box4{
    
    height: 210px;
    width: 300px;
    border: 2px solid cyan;
    background-color: pink;
}
