.container{
    display: flex;
    border: 1px solid blue;
    height: 800px;
    width: 800px;
    background-color: aqua;
}
.box1{
height: 150px;
width: 200px;
border: 1px dotted green;
background-color: yellow;
}
.box2{
   height: 150px;
width: 200px;
border: 1px dotted green;
background-color: yellow; 
}
.box3{
  height: 150px;
width: 200px;
border: 1px dotted green;
background-color: yellow;  
}
.box4{
  height: 150px;
width: 200px;
border: 1px dotted green;
background-color: yellow;  
}
